ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow:hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

li a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: #373737;
}

.active {
    background-color: rgb(143, 15, 85);
}

.content{
    margin: 47px;
    margin-left: 0px;
}