@color-activo: green;
@color-inactivo: red;

.estilo-boton(@activo){
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
   
    & when(@activo=true){
        background-color: @color-activo;
    }
    & when(@activo=false){
        background-color: @color-inactivo;
    }

    &:hover {
        background-color: darken(if(@activo, @color-activo, @color-inactivo), 10%);
    }
}

.boton-activo{
    .estilo-boton(true);
}

.boton-inactivo{
    .estilo-boton(false);
}