body {
    background-color: rgb(229, 229, 229);
}

#caja1 {
    background-color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 350px;
    padding: 1px;
    border-left: solid 3px red;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.3);
    transition: 0.4s;
}

#caja1:hover {
    transform: scale(1.05, 1.05);
}

#caja2 {
    background-color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 350px;
    padding: 1px;
    border-left: solid 3px green;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.3);
    transition: 0.4s;
}

#caja2:hover {
    box-shadow: 0px 2px 10px rgba(0,0,0, 0.6);
}

#caja3 {
    background-color: white;
    font-size: 20px;
    margin-left: 20px;
    width: 350px;
    padding: 1px;
    border-left: solid 3px blue;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.3);
    transition: 0.5s;
}

#caja3:hover {
    background-color: rgb(228, 228, 255);
}