body{
    background-color: rgb(255, 184, 222); /*Fondo de la página*/
}
a { /* Selector de url generico*/
    color: hotpink;
    background-color: rgb(255, 255, 0);
    padding: 10px;
    border-radius: 4px;
    border: solid 1px #d2d900 ;
}

a:link { /* Cuando aun no ha sido visitado */
    color:rgb(255, 255, 255);
    text-decoration: none; /* eliminamos el underline*/
}

a:visited { /* Cuando ya ha sido visitado */
    color:rgb(255, 255, 255);
}

a:hover { /* Cuando pasamos el mouse por encima */
    color:rgb(255, 255, 255);
    text-decoration: underline; /* Agregamos underline*/
    background-color: rgb(255, 255, 181);
}

a:active { /* Cuando clicamos el link */
    color:rgb(56, 56, 56);
}