@use 'mixins';
@use 'variables';

.contenedor {
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.caja1 {
    width: 30%;
    height: 300px;
    margin: 1%;
    background-color: variables.$color-1;
    &:hover {
        @include mixins.rounded-corners('30px');
        @include mixins.background('brillo', variables.$color-1);
        @include mixins.size('210px', '210px');
    }
}	

.caja2 {
    width: 30%;
    height: 300px;
    margin: 1%;
    background-color: variables.$color-2;
    &:hover {
        @include mixins.rounded-corners('20px');
        @include mixins.background('mezcla', variables.$color-3);
        @include mixins.size('100px', '100px');
    }
}

.caja3 {
    width: 30%;
    height: 300px;
    margin: 1%;
    background-color: variables.$color-3;
    &:hover {
        @include mixins.rounded-corners('10px');
        @include mixins.background('escala', variables.$color-3);
        @include mixins.size('250px', '250px');
    }
}