body{
    background-color: rgb(255, 184, 222); /*Fondo de la página*/
}

.fondo {
    height: 500px;
    width: 500px;
    background-color: hsl(200, 60%, 70%);
    background-image: url('http://placekitten.com/300/300');/*Para hacer gradientes usamos background-image: linear-gradient(direccion (to right, to bottom, to left, to top, to bottom right... o angulos(90deg,-15deg...)), color1,color2, color3...)*/
    background-repeat: no-repeat; /* (repeat-x, repeat-y) */
    background-position: right bottom; /*(left/right top/bottom)*/
    background-attachment: fixed; /*Para que al scrollear el fondo baje con nosotros*/
    background-size: cover; /*extender la imagen para que cubra el fondo*/  
}
