body{
    background-color: rgb(255, 184, 222); /*Fondo de la página*/
}

ul {
    background-color: white;
    border: solid 1px #ddd;
    border-radius: 4px;
    margin: 10px;
    padding-left: 0px;
}

ul li{ /*Todos los elementos li que se encuentran en ul*/
    list-style-type: none; /*Tipo de numerador (none, circle, square, upper-roman, lower-alpha)*/
    border-bottom: solid 1px #ddd;
    padding: 15px;
}