body{
    background-color: rgb(255, 184, 222);

}

p{
    font-family: "Times New Roman";
    font-style: italic; /* Italic (cursiva)*/
    font-size: 10px; /*tamaño letra*/
    font-weight: 900; /* Grueso del texto. (bold (negrita) o nº)
    color: rgb(103, 0, 56); /*Color del texto*/
    text-align: justify; /*Mueve el texto (left, right, center, justify (ajustarse))*/
    text-indent: 20px; /*identa*/
    line-height: 1.7; /*Espaciado entre lineas*/
    word-spacing: 10px; /*Espaciado entre palabras*/
    text-shadow: 1px 2px 5px #d71919; /*(desplazamiento der, desplazamiento izq, opacidad, color)*/
    text-decoration: none; /*Cambiamos la raya (none, overline(linea por encima), line-through(Tachado), underline(subrayado)*/
    text-transform: uppercase; /*Minus(lowercase), mayus(uppercase), capitalize(Primera mayus)*/
    letter-spacing: 3px; /*Espaciado entre letras*/
}